@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliveryBro</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/store/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/store/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/store/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/store/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/store/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/store/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/store/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <link href="~/store/css/style.css" rel="stylesheet" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a class="logo d-flex align-items-center" style="padding-left:0px;padding-right:0px" asp-area="store" asp-controller="Home" asp-action="Index">
                @*logo*@
                <span class="d-none d-lg-block">DeliveryBro</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/store/images/choosing-a-cat.jpg" alt="Profile" class="rounded-circle" />
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/store/images/choosing-a-cat.jpg" alt="Profile" class="rounded-circle" />
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/store/images/choosing-a-cat.jpg" alt="Profile" class="rounded-circle" />
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/store/images/choosing-a-cat.jpg" alt="Profile" class="rounded-circle" />
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-area="store" asp-controller="Home" asp-action="StoreInfo"><i class="fa-solid fa-store"></i>My Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" asp-area="store" asp-controller="Home" asp-action="Index"><i class="bi bi-grid"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="Home" asp-action="StoreInfo"><i class="fa-solid fa-store"></i>商店資訊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="Home" asp-action="OrdersInTime"><i class="fa-solid fa-file-pen"></i>即時訂單</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="Home" asp-action="HisOrder"><i class="fa-solid fa-file-lines"></i>歷史訂單</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="Home" asp-action="Menu"><i class="fa-solid fa-receipt"></i>菜單管理</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="Home" asp-action="HelpCenter"><i class="fa-solid fa-circle-info"></i>Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="Home" asp-action="Privacy"><i class="fa-solid fa-lock"></i>Privacy</a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="StoreUser" asp-action="Register"><i class="fa-sharp fa-solid fa-registered"></i>註冊</a>
            </li>
             <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="StoreUser" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i>登入</a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-area="store" asp-controller="StoreUser" asp-action="Logout"><i class="fa-solid fa-xmark"></i>登出</a>
            </li>
*@
            @{
                if (User.Identity.IsAuthenticated && User.IsInRole("Store"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="store" asp-controller="StoreUser" asp-action="Logout">登出</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link text-dark">使用者:@User.Claims.FirstOrDefault(x=> x.Type == ClaimTypes.Name).Value</span>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="store" asp-controller="StoreUser" asp-action="Login">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="store" asp-controller="StoreUser" asp-action="Register">註冊</a>
                    </li>
                }

            }


            @*<partial name="_LoginPartialStore" />*@
        </ul>

    </aside><!-- End Sidebar-->

    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="sfooter">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            <div class="container">
                &copy; 2023 - test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>

        </div>
    </footer><!-- End Footer -->

    <script src="~/store/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/store/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/store/vendor/chart.js/chart.umd.js"></script>
    <script src="~/store/vendor/echarts/echarts.min.js"></script>
    <script src="~/store/vendor/quill/quill.min.js"></script>
    <script src="~/store/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/store/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/store/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/store/js/main.js" ></script>
	
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

