@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DeliveryBro</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/store/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/store/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/store/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="~/store/vendor/quill/quill.snow.css" rel="stylesheet">
	<link href="~/store/vendor/quill/quill.bubble.css" rel="stylesheet">
	<link href="~/store/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="~/store/vendor/simple-datatables/style.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
	<link href="~/store/css/style.css" rel="stylesheet" asp-append-version="true" />

	<link href="~/lib/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
	<link href="~/lib/admin/assets/css/app-creative.css" rel="stylesheet" />
	<script src="~/lib/admin/assets/js/hyper-config.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a class="logo d-flex align-items-center" style="padding-left:0px;padding-right:0px" asp-area="store" asp-controller="Home" asp-action="Index">
				@*logo*@
				<span class="d-none d-lg-block">DeliveryBro</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item dropdown pe-3">

					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<span class="d-none d-md-block dropdown-toggle ps-2">@User.Claims.FirstOrDefault(x=> x.Type == ClaimTypes.Name)?.Value</span>
					</a><!-- End Profile Iamge Icon -->

					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>@User.Claims.FirstOrDefault(x=> x.Type == ClaimTypes.Name)?.Value</h6>
						</li>

						<li>
							<hr class="dropdown-divider">
						</li>
						@{
							if (User.Identity.IsAuthenticated)
							{
								<li>
									<hr class="dropdown-divider">
								</li>
								<li class="nav-item">
									<a class="dropdown-item d-flex align-items-center" asp-area="deliver" asp-controller="User" asp-action="Logout"><i class="fa-solid fa-xmark"></i>登出</a>
								</li>
							}
							else
							{
								<li>
									<hr class="dropdown-divider">
								</li>
								<li class="nav-item">
									<a class="dropdown-item d-flex align-items-center" asp-area="deliver" asp-controller="User" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i>登入</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li class="nav-item">
									<a class="dropdown-item d-flex align-items-center" asp-area="deliver" asp-controller="User" asp-action="Register"><i class="fa-sharp fa-solid fa-registered"></i>註冊</a>
								</li>
							}

						}
						<!-- End Profile Nav -->
					</ul><!-- End Profile Dropdown Items -->
				</li>
			</ul>
		</nav><!-- End Icons Navigation -->

	</header><!-- End Header -->


	<div>
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer id="footer" class="sfooter">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			<div class="container">
				&copy; 2023 - test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			</div>

		</div>
	</footer><!-- End Footer -->

	<script src="~/store/vendor/apexcharts/apexcharts.min.js"></script>
	@*<script src="~/store/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/store/vendor/chart.js/chart.umd.js"></script>
	<script src="~/store/vendor/echarts/echarts.min.js"></script>
	<script src="~/store/vendor/quill/quill.min.js"></script>
	<script src="~/store/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="~/store/vendor/tinymce/tinymce.min.js"></script>
	<script src="~/store/vendor/php-email-form/validate.js"></script>
	<script src="~/store/js/main.js"></script>

	<script src="~/lib/admin/assets/js/vendor.min.js"></script>
	<script src="~/lib/admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="~/lib/admin/assets/js/app.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

