<main id="main" class="main">
    <div class="pagetitle">
        <h1>Support</h1>
        <nav>
            <ol class="breadcrumb">
                <a class="breadcrumb-item" asp-area="store" asp-controller="Home" asp-action="Index">Home</a>
                <li class="breadcrumb-item active">Support</li>
            </ol>
        </nav>
    </div>
    <section class="section support">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body pt-3">
                        <h5 class="card-title">Contact Us</h5>
                        <form class="row g-3 needs-validation" novalidate>
                            <div class="col-md-3">
                                <label for="validationCustom01" class="form-label">Order Id</label>
                                <input type="text" class="form-control" id="validationCustom01" value="1001" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Delivery num</label>
                                <input type="text" class="form-control" id="validationCustom02" value="50" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustomUsername" class="form-label">E-mail</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                                    <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" placeholder="gmail.com" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom03" class="form-label">Store Name</label>
                                <input type="text" class="form-control" id="validationCustom03" required>
                                <div class="invalid-feedback">
                                    Cannot be empty.
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Feedback</span>
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
                            <div></div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                        </form>

                        </h5>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>