<main id="main" class="main">
    <div class="pagetitle">
        <h1>History Orders</h1>
        <nav>
            <ol class="breadcrumb">
                <a class="breadcrumb-item" asp-area="store" asp-controller="Home" asp-action="Index">Home</a>
                <li class="breadcrumb-item active">History Orders</li>
            </ol>
        </nav>
    </div>
    <section class="section historyorder">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4 ">
                                    <label>Start</label>
                                    <input type="date" />
                                </div>
                                <div class="col-4 ">
                                    <label style="margin-left:10px">End</label>
                                    <input type="date" />
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-outline-secondary btn-sm">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content pt-2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Order Id: 17</h5>
                                    <h5 class="card-title">Delivery num: 28</h5>
                                    <h5>Completed time: 2023-5-13 21:45:00</h5>
                                    <h5>Customer Name</h5>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10" style="padding-bottom:10px">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Item Name 1</div>
                                                <div class="col-lg-5 col-md-5">Sugar, ice or ...</div>
                                                <div class="col-lg-2 col-md-3">Number</div>
                                                <div class="col-lg-2 col-md-2">Price$</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Item Name 2</div>
                                                <div class="col-lg-5 col-md-5">Sugar, ice or ...</div>
                                                <div class="col-lg-2 col-md-3">Number</div>
                                                <div class="col-lg-2 col-md-2">Price$</div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>Total: $</div>
                                        </div>
                                        <hr />
                                        <div>
                                            <h5>Memo</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Order Id: 16</h5>
                                    <h5 class="card-title">Delivery num: 27</h5>
                                    <h5>Completed time: 2023-5-13 21:40:00</h5>
                                    <h5>Customer Name</h5>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10" style="padding-bottom:10px">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Item Name 1</div>
                                                <div class="col-lg-5 col-md-5">Sugar, ice or ...</div>
                                                <div class="col-lg-2 col-md-3">Number</div>
                                                <div class="col-lg-2 col-md-2">Price$</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Item Name 2</div>
                                                <div class="col-lg-5 col-md-5">Sugar, ice or ...</div>
                                                <div class="col-lg-2 col-md-3">Number</div>
                                                <div class="col-lg-2 col-md-2">Price$</div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>Total: $</div>
                                        </div>
                                        <hr />
                                        <div>
                                            <h5>Memo</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Order Id: 15</h5>
                                    <h5 class="card-title">Delivery num: 27</h5>
                                    <h5>Completed time: 2023-5-13 21:35:00</h5>
                                    <h5>Customer Name</h5>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10" style="padding-bottom:10px">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Item Name 1</div>
                                                <div class="col-lg-5 col-md-5">Sugar, ice or ...</div>
                                                <div class="col-lg-2 col-md-3">Number</div>
                                                <div class="col-lg-2 col-md-2">Price$</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Item Name 2</div>
                                                <div class="col-lg-5 col-md-5">Sugar, ice or ...</div>
                                                <div class="col-lg-2 col-md-3">Number</div>
                                                <div class="col-lg-2 col-md-2">Price$</div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div>Total: $</div>
                                        </div>
                                        <hr />
                                        <div>
                                            <h5>Memo</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
        </div>
    </section>

</main>
