@{
    ViewData["Title"] = "Home Page";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>首頁</h1>
        <nav>
            <ol class="breadcrumb">
                <a class="breadcrumb-item" asp-area="store" asp-controller="Home" asp-action="Index">首頁</a>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard" id="app">
        <div class="row" v-for="store in storeInfo">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-md-5">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <h5 class="card-title" >{{currentTime}} <span>| {{weekday}}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{store.restaurantName}}</h6>
                                        <button v-if="store.restaurantStatus=='open'" type="button" class="btn btn-success" @@click="statuschange(store)">營業中</button>
                                        <button v-if="store.restaurantStatus=='close'" type="button" class="btn btn-outline-success" @@click="statuschange(store)">休息中</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- End Left side columns -->


        </div>
    </section>

</main><!-- End #main -->

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/axios/axios.min.js"></script>
    <script>
        var vueIndex={
            data(){
                return{
                    currentTime:"",
                    weekday:"",
                    storeInfo:[]
                };
            },
            mounted(){
                let _this=this;
                setInterval(()=>{_this.currentTime=new Date().toLocaleString()}, 1000);
                _this.weekday = _this.getDayOfWeek();
                _this.getStoreInfo();
            },
            methods:{
                getDayOfWeek:function(){
                    var weekdays=[
                        "星期日",
                        "星期一",
                        "星期二",
                        "星期三",
                        "星期四",
                        "星期五",
                        "星期六",
                    ]
                    return weekdays[new Date().getDay()]
                },
                getStoreInfo:function(){
                    let _this=this;
                    axios.get(`/api/StoreInfo/`).then(response=>{
                        _this.storeInfo=response.data;
                    })
                },
                statuschange:function(store){
                    let _this=this;
                    if(store.restaurantStatus=='open')
                        store.restaurantStatus="close";
                    else
                        store.restaurantStatus="open";

                    var request={
                        RestaurantId:store.restaurantId,
                        RestaurantStatus:store.restaurantStatus
                    };
                    axios.put(`/api/StoreInfo/status/${store.restaurantId}`,request).then(response=>{
                        Swal.fire(
                            '營業狀態修改成功!'
                        )
                    })
                }
            }
        };
        var app=Vue.createApp(vueIndex).mount('#app');
    </script>
}