<style>
	#btnRegister {
		background-color: #444444;
	}

	#btnDemo1 {
		background-color: #444444;
	}

	#btnDemo2 {
		background-color: #444444;
	}
</style>
<main>
	<div class="container">

		<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

						<div class="d-flex justify-content-center py-4">
							<a href="index.html" class="logo d-flex align-items-center w-auto">
								<img src="assets/img/logo.png" alt="">
								<span class="d-none d-lg-block">NiceAdmin</span>
							</a>
						</div><!-- End Logo -->
						
						<div class="card mb-3" id="app">

							<div class="card-body">

								<div class="pt-4 pb-2">
									<h5 class="card-title text-center pb-0 fs-4">商家註冊</h5>
									<p class="text-center small">輸入商家詳細資訊以利創建帳戶</p>
								</div>

								<form class="row g-3 needs-validation" novalidate>
									<div class="col-12">
										<label for="yourName" class="form-label">商家帳號</label>
										<span v-if="isValidAccount==false" class="text-danger">&emsp;{{errorMsgAccount}}</span>
										<input type="text" name="RestaurantAccount" class="form-control" id="RestaurantAccount" v-model="restaurantAccount">
									</div>

									<div class="col-12">
										<label for="yourPassword" class="form-label">商家密碼</label>
										<span v-if="isValidPassword==false" class="text-danger">&emsp;{{errorMsgPassword}}</span>
										<input type="password" name="RestaurantPassword" class="form-control" id="RestaurantPassword" v-model="restaurantPassword">
									</div>

									<div class="col-12">
										<label for="yourPassword" class="form-label">確認密碼</label>
										<span v-if="isValidConfirmPassword==false" class="text-danger">&emsp;{{errorMsgConfirmPassword}}</span>
										<input type="password" name="ConfirmRestaurantPassword" class="form-control" id="ConfirmRestaurantPassword" v-model="confirmRestaurantPassword">
									</div>

									<div class="col-12">
										<label for="yourUsername" class="form-label">商家名稱</label>
											<span v-if="isValidName==false" class="text-danger">&emsp;{{errorMsgName}}</span>
											<input type="text" name="RestaurantName" class="form-control" id="RestaurantName" v-model="restaurantName">
									</div>

									<div class="col-12">
										<label for="yourAddress" class="form-label">商家地址</label>
										<span v-if="isValidAddress==false" class="text-danger">&emsp;{{errorMsgAddress}}</span>
										<input type="text" name="RestaurantAddress" class="form-control" id="RestaurantAddress" v-model="restaurantAddress">
									</div>

									<div class="col-12">
										<label for="yourPhone" class="form-label">商家電話</label>
										<span v-if="isValidPhone==false" class="text-danger">&emsp;{{errorMsgPhone}}</span>
										<input type="text" name="RestaurantPhone" class="form-control" id="RestaurantPhone" v-model="restaurantPhone">
									</div>

									<div class="col-12">
										<label for="yourEmail" class="form-label">商家信箱</label>
										<span v-if="isValidMail==false" class="text-danger">&emsp;{{errorMsgMail}}</span>
										<input type="email" name="RestaurantEmail" class="form-control" id="RestaurantEmail" v-model="restaurantEmail">
									</div>

									<div class="col-12">
										<button id="btnRegister" class="btn btn-secondary w-100" type="button" @@click="addRegister()">註冊</button>										
									</div>
									<div>
										<button id="btnDemo1" type="button" class="btn btn-secondary" @@click="setData()">Demo1</button>
										<button id="btnDemo2" type="button" class="btn btn-secondary" @@click="setDataError()">Demo2</button>
									</div>
									
									<div class="col-12">
										<p class="small mb-0">已經有商家帳號嗎? <a href="/store/StoreUser/Login" style="color:mediumblue">登入</a></p>
									</div>
								</form>

							</div>
						</div>

						<div class="credits">
							<!-- All the links in the footer should remain intact. -->
							<!-- You can delete the links only if you purchased the pro version. -->
							<!-- Licensing information: https://bootstrapmade.com/license/ -->
							<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
							@*Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>*@
						</div>

					</div>
				</div>
			</div>

		</section>

	</div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

@section Scripts
	{
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/axios/axios.min.js"></script>
	<script>

		var vueIndex = {
			data() {
				return {
					//V-model 繫結變數input
					restaurantAccount: "",
					restaurantPassword: "",
					confirmRestaurantPassword: "",
					restaurantName: "",
					restaurantAddress: "",
					restaurantPhone: "",
					restaurantEmail: "",
					//渲染繫結span變數
					errorMsgAccount: "",
					errorMsgPassword: "",
					errorMsgConfirmPassword: "",
					errorMsgName: "",
					errorMsgAddress: "",
					errorMsgPhone: "",
					errorMsgMail: "",
					//判斷錯誤訊息的變數
					isValidAccount: null,
					isValidPassword: null,
					isValidConfirmPassword: null,
					isValidName: null,
					isValidAddress: null,
					isValidPhone: null,
					isValidMail: null,
					registerresult: "",
				};

			},
			mounted: function () {
				let _this = this;
			},
			//方法
			methods: {
				//驗證帳號
				checkAccount: async function () {
					let _this = this;
					if (_this.restaurantAccount == '') {
						return '';
					}
					await axios.get(`/api/StoreUser/isConfirm/CheckAccount`, {
						params: {
							account: _this.restaurantAccount
						}
					}).then(response => {
						if (response.data != "正確") {
							_this.errorMsgAccount = response.data;
							_this.isValidAccount = false;
						} else {
							_this.isValidAccount = true;
						}
					})
				},
				//驗證密碼
				checkPassword: async function () {
					let _this = this;
					if (_this.restaurantPassword == '') {
						return '';
					}
					await axios.get(`/api/StoreUser/isConfirm/CheckPassword`, {
						params: {
							password: _this.restaurantPassword
						}
					}).then(response => {
						if (response.data != "正確") {
							_this.errorMsgPassword = response.data;
							_this.isValidPassword = false;
						} else {
							_this.isValidPassword = true;
						}

					})
				},
				////驗證再確認的密碼
				checkConfirmPassword: async function () {
					let _this = this;

					let model = {
						ConfirmRestaurantPassword: _this.confirmRestaurantPassword,
						RestaurantPassword: _this.restaurantPassword
					}
					await axios.post(`/api/StoreUser/isConfirm/CheckConfirmPassword`, model)
						.then(response => {
							if (response.data != "正確") {
								_this.errorMsgConfirmPassword = response.data;
								_this.isValidConfirmPassword = false;
							}
							else {
								_this.isValidConfirmPassword = true;
							}
						})
				},
				//驗證名字
				checkName: async function () {
					let _this = this;
					if (_this.restaurantName == '') {
						return '';
					}
					await axios.get(`/api/StoreUser/isConfirm/CheckName`, {
						params: {
							name: _this.restaurantName
						}
					}).then(response => {
						if (response.data != "正確") {
							_this.errorMsgName = response.data;
							_this.isValidName = false;
						}
						else {
							_this.isValidName = true;
						}
					})
				},
				//驗證Email
				checkMail:async function () {
					let _this = this;
					if (_this.restaurantEmail == '') {
						return '';
					}
					await axios.get(`/api/StoreUser/isConfirm/CheckMail`, {
						params: {
							mail: _this.restaurantEmail
						}
					}).then(response => {
						if (response.data != "正確") {
							_this.errorMsgMail = response.data;
							_this.isValidMail = false;
						}
						else {
							_this.isValidMail = true;
						}
					})
				},
				//驗證地址
				checkAddress: async function () {
					let _this = this;
					await axios.get(`/api/StoreUser/isConfirm/CheckAddress`, {
						params: {
							address: _this.restaurantAddress
						}
					}).then(response => {
						if (response.data != "正確") {
							_this.errorMsgAddress = response.data;
							_this.isValidAddress = false;
						}
						else {
							_this.isValidAddress = true;
						}
					})
				},
				//驗證電話
				checkPhone:async function () {
					let _this = this;
					if (_this.restaurantPhone == '') {
						return '';
					}
					await axios.get(`/api/StoreUser/isConfirm/CheckPhone`, {
						params: {
							phone: _this.restaurantPhone
						}
					}).then(response => {
						if (response.data != "正確") {
							_this.errorMsgPhone = response.data;
							_this.isValidPhone = false;
						}
						else {
							_this.isValidPhone = true;
						}
					})
				},

				addRegister:async function () {
					let _this = this;
					await _this.checkPhone();
					await _this.checkAddress();
					await _this.checkMail();
					await _this.checkName();
					await _this.checkConfirmPassword();
					await _this.checkPassword();
					await _this.checkAccount();
					var request = {
						RestaurantAccount: _this.restaurantAccount,
						RestaurantPassword: _this.restaurantPassword,
						RestaurantName: _this.restaurantName,
						RestaurantEmail: _this.restaurantEmail,
						RestaurantAddress: _this.restaurantAddress,
						RestaurantPhone: _this.restaurantPhone,
						ConfirmRestaurantPassword: _this.errorMsgConfirmPassword,
					}

					//如果有一個false就不能註冊
					if (_this.isValidAccount && _this.isValidPassword && _this.isValidConfirmPassword && _this.isValidPhone && _this.isValidName && _this.isValidMail && _this.isValidAddress) 
					{
						//註冊的function 要呼叫controller
						axios.post(`/api/StoreUser/Add/AddRegister`, request)
							.then(response => {
								_this.restaurantAccount = '';
								_this.restaurantPassword = '';
								_this.confirmRestaurantPassword = '';
								_this.restaurantName = '';
								_this.restaurantEmail = '';
								_this.restaurantAddress = '';
								_this.restaurantPhone = '';

								Swal.fire({
									title: '提醒',
									text: "是否確認註冊?",
									icon: 'warning',
									showCancelButton: true,
									confirmButtonColor: '#3085d6',
									cancelButtonColor: '#d33',
									confirmButtonText: '確認',
									cancelButtonText:'取消',

								}).then((result) => {
									if (result.isConfirmed) {
										Swal.fire(
											'註冊成功',
											'可至登入畫面登入',
											'success'
										)
									}
								})
							});
					}
				},
				setData: function () {
					let _this = this;
					_this.restaurantAccount='store5';
					_this.restaurantPassword = 'store5';
					_this.confirmRestaurantPassword = 'store5';
					 _this.restaurantName='緯育商城00';
					 _this.restaurantEmail='123@gmail.com';
					 _this.restaurantAddress='台北市青島東路1號';
					 _this.restaurantPhone='0234567890';
				},
				setDataError: function () {
					let _this = this;
					_this.restaurantAccount = '1111';
					_this.restaurantPassword = '123';
					_this.confirmRestaurantPassword = '132';
					_this.restaurantName = '緯育';
					_this.restaurantEmail = '123gmail';
					_this.restaurantAddress = '台北市青島東路1號';
					_this.restaurantPhone = '023456';
				}
			}
		};
		var app = Vue.createApp(vueIndex).mount("#app");
	</script>
}