<main>
	<div class="container">

		<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

						<div class="d-flex justify-content-center py-4">
							<a href="index.html" class="logo d-flex align-items-center w-auto">
								<img src="assets/img/logo.png" alt="">
								<span class="d-none d-lg-block">NiceAdmin</span>
							</a>
						</div><!-- End Logo -->

						<div id="app">  @*//掛載VUE*@
						<div class="card mb-3">

							<div class="card-body">

								<div class="pt-4 pb-2">
									<h5 class="card-title text-center pb-0 fs-4">商家註冊</h5>
									<p class="text-center small">Enter your personal details to create account</p>
								</div>

								<form class="row g-3 needs-validation" novalidate action="/store/StoreUser/Register" method="post">
									<div class="col-12">
										<label for="yourName" class="form-label">商家帳號</label>
										<input type="text" name="RestaurantAccount" class="form-control" id="RestaurantAccount" v-model="addForm.RestaurantAccount" required>
										<div class="invalid-feedback">Please, enter your name!</div>
									</div>

									<div class="col-12">
										<label for="yourPassword" class="form-label">商家密碼</label>
										<input type="password" name="RestaurantPassword" class="form-control" id="RestaurantPassword" v-model="addForm.RestaurantPassword" required>
										<div class="invalid-feedback">Please enter your password!</div>
									</div>

									<div class="col-12">
										<label for="yourPassword" class="form-label">確認密碼</label>
										<input type="password" name="RestaurantPassword" class="form-control" id="RestaurantPassword" v-model="addForm.RestaurantPassword" required>
										<div class="invalid-feedback">Please enter your password!</div>
									</div>

									<div class="col-12">
										<label for="yourUsername" class="form-label">商家名稱</label>
										<div class="input-group has-validation">
											@*<span class="input-group-text" id="inputGroupPrepend">@@</span>*@
											<input type="text" name="RestaurantName" class="form-control" id="RestaurantName" v-model="addForm.RestaurantName" required>
											<div class="invalid-feedback">Please choose a RestaurantName.</div>
										</div>
									</div>

									<div class="col-12">
										<label for="yourAddress" class="form-label">商家地址</label>
										<input type="text" name="RestaurantAddress" class="form-control" id="RestaurantAddress" v-model="addForm.RestaurantAddress" required>
										<div class="invalid-feedback">Please enter a valid RestaurantAddress!</div>
									</div>

									<div class="col-12">
										<label for="yourPhone" class="form-label">商家電話</label>
										<input type="text" name="RestaurantPhone" class="form-control" id="RestaurantPhone" v-model="addForm.RestaurantPhone" required>
										<div class="invalid-feedback">Please enter a valid Email RestaurantPhone!</div>
									</div>

									<div class="col-12">
										<label for="yourEmail" class="form-label">商家信箱</label>
										<input type="email" name="RestaurantEmail" class="form-control" id="RestaurantEmail" v-model="addForm.RestaurantEmail" required>
										<div class="invalid-feedback">Please enter a valid Email RestaurantEmail!</div>
									</div>

									<div class="col-12">
										<label for="yourOpeningHours" class="form-label">營業時間</label>
										<input type="time" name="OpeningHours" class="form-control" id="OpeningHours" v-model="addForm.OpeningHours" required>
										<div class="invalid-feedback">Please enter a valid OpeningHours!</div>
									</div>

									<div class="col-12">
										<label for="yourDescription" class="form-label">商家描述</label>
										<input type="text" name="RestaurantDescription" class="form-control" id="RestaurantDescription" v-model="addForm.RestaurantDescription" required>
										<div class="invalid-feedback">Please enter a valid RestaurantDescription!</div>
									</div>

									<div class="col-12">
										<label for="yourPicture" class="form-label">商家圖片</label>
										<input type="file" name="RestaurantPicture" class="form-control" id="RestaurantPicture" v-model="addForm.RestaurantPicture" required>
										<div class="invalid-feedback">Please enter a valid RestaurantPicture!</div>
									</div>

									<div class="col-12">
										<div class="form-check">
											<input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
											<label class="form-check-label" for="acceptTerms">註冊表示同意商店服務條款與會員責任規範及個資聲明</label>
											<div class="invalid-feedback">You must agree before submitting.</div>
										</div>
									</div>
									<div class="col-12">
										<button class="btn btn-primary w-100" type="submit">註冊</button>
									</div>
									<div class="col-12">
										<p class="small mb-0">已經有商家帳號嗎? <a href="/store/StoreUser/Login">登入</a></p>
									</div>
								</form>

							</div>
						</div>

						<div class="credits">
							<!-- All the links in the footer should remain intact. -->
							<!-- You can delete the links only if you purchased the pro version. -->
							<!-- Licensing information: https://bootstrapmade.com/license/ -->
							<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
							Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
						</div>

					</div>
				</div>
			</div>

		</section>

	</div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

@section Scripts
	{
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/axios/axios.min.js"></script>
	<script>
		var vueRegister = {
			data() {
				return {
					addForm: {
						RestaurantAccount: '',
						RestaurantPassword: '',
						RestaurantName: '',
						RestaurantAddress: '',
						RestaurantPhone: '',
						RestaurantEmail: '',
						OpeningHours: '',
						RestaurantDescription: "",
						RestaurantPicture: "",//看menu 的 picture貼
					};
				},
					methods: {
					// 新增儲存
						AddSave:function() {
							let self = this;
							// 組合表單資料
							var postData = {
							RestaurantAccount: self.RestaurantAccount,

							
							};
							postData['RestaurantAccount'] = self.addForm.RestaurantAccount;
							postData['RestaurantPassword'] = self.addForm.RestaurantPassword;
							postData['RestaurantName'] = self.addForm.RestaurantName;
							postData['RestaurantAddress'] = self.addForm.RestaurantAddress;
							postData['RestaurantPhone'] = self.addForm.RestaurantPhone;
							postData['RestaurantEmail'] = self.addForm.RestaurantEmail;
							postData['OpeningHours'] = self.addForm.OpeningHours;
							postData['RestaurantDescription'] = self.addForm.RestaurantDescription;
							postData['RestaurantPicture'] = self.addForm.RestaurantPicture;
						axios.post(`/StoreUser/Register`, postData).then(response=>{
							
						})
							// 使用 jQuery Ajax 傳送至後端
							$.ajax({
								url: '@Url.Content("~/Home/AddSave")',
								method: 'POST',
								dataType: 'json',
								data: { inModel: postData, __RequestVerificationToken: $('@Html.AntiForgeryToken()').val() },
								success: function (datas) {
									if (datas.ErrMsg) {
										alert(datas.ErrMsg);
										return;
									}

									alert(datas.ResultMsg);
							},
							error: function (err) {
								alert(err.status + " " + err.statusText + '\n' + err.responseText);
							}
						});
					}
				}
			});

		}
		var app = Vue.createApp(#vueRegister).mount("#app");
	</script>
}