@section Styles{
	<link href="~/lib/admin/assets/vendor/datatables.net-bs5/css/datatables.bootstrap5.min.css" rel="stylesheet" />
	<link href="~/lib/admin/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
}


<div class="content-page" style="margin-left:0px;">
	<div class="content">

		<!-- Start Content-->
		<div class="container-fluid" id="app">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="page-title-right">
							<ol class="breadcrumb m-0">
								<li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
								<li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
								<li class="breadcrumb-item active">Orders</li>
							</ol>
						</div>
						<h4 class="page-title">Orders</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			<div>
				<select>
					<option>請選擇狀態</option>
					<option>等待中</option>s
					<option>已接收</option>
					<option>已完成</option>
				</select>
				<label for="bookdate">訂單開始日期：</label>
				<input type="date" id="startdate" placeholder="2023-06-06">
				<label for="bookdate">訂單結束日期：</label>
				<input type="date" id="enddate" placeholder="2023-06-06">

				<input id="input1" type="text" placeholder="輸入店家名稱">
				<button type="button" @@click="searchOrders()">搜尋</button>
			</div>


			<div class="row">
				<div class="col-12">
					<div class="card">
						@*<div class="card-body">
						<div class="row mb-2">
						<div class="col-xl-8">
						<form class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
						<div class="col-auto">
						<label for="inputPassword2" class="visually-hidden">Search</label>
						<input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
						</div>
						<div class="col-auto">
						<div class="d-flex align-items-center">
						<label for="status-select" class="me-2">Status</label>
						<select class="form-select" id="status-select">
						<option selected="">Choose...</option>
						<option value="1">Paid</option>
						<option value="2">Awaiting Authorization</option>
						<option value="3">Payment failed</option>
						<option value="4">Cash On Delivery</option>
						<option value="5">Fulfilled</option>
						<option value="6">Unfulfilled</option>
						</select>
						</div>
						</div>
						</form>
						</div>
						<div class="col-xl-4">
						<div class="text-xl-end mt-xl-0 mt-2">
						<button type="button" class="btn btn-danger mb-2 me-2"><i class="mdi mdi-basket me-1"></i> Add New Order</button>
						<button type="button" class="btn btn-light mb-2">Export</button>
						</div>
						</div><!-- end col-->
						</div>*@

						@*//////新增table///////*@


						<table id="basic-datatable" class="table dt-responsive nowrap w-100">
							<thead>
								<tr>
									<th>#</th>
									<th>訂單編號</th>
									<th>訂單日期</th>
									<th>訂購人</th>
									<th>餐廳名稱</th>
									<th>外送員</th>
									<th>合計金額</th>
								</tr>
							</thead>


							<tbody>
								<tr>
									<td><button type="button" class="btn btn-secondary">明細</button></td>
									<td>Tiger Nixon</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td>61</td>
									<td>2011/04/25</td>
									<td>$320,800</td>
								</tr>
								<tr>
									<th>#</th>
									<td>Garrett Winters</td>
									<td>Accountant</td>
									<td>Tokyo</td>
									<td>63</td>
									<td>2011/07/25</td>
									<td>$170,750</td>
								</tr>
							</tbody>
						</table>



					</div>
				</div> <!-- end card-body-->
			</div> <!-- end card-->
		</div> <!-- end col -->
	</div>
	<!-- end row -->

</div> <!-- container -->
</div> <!-- content -->
<!-- Footer Start -->
<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<script>document.write(new Date().getFullYear())</script>2023 © Hyper - Coderthemes.com
			</div>
			<div class="col-md-6">
				<div class="text-md-end footer-links d-none d-md-block">
					<a href="javascript: void(0);">About</a>
					<a href="javascript: void(0);">Support</a>
					<a href="javascript: void(0);">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end Footer -->
</div>
@section Scripts
	{
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="~/axios/axios.min.js"></script>
	<script src="~/lib/admin/assets/vendor/datatables.net/js/jquery.datatables.min.js"></script>
	<script src="~/lib/admin/assets/vendor/datatables.net-bs5/js/datatables.bootstrap5.min.js"></script>
	<script src="~/lib/admin/assets/vendor/datatables.net-responsive/js/datatables.responsive.min.js"></script>
	<script src="~/lib/admin/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="~/lib/admin/assets/js/pages/demo.datatable-init.js"></script>




	@*///新增vue///*@
	<script>
		var vueOrder = {
			data() {

			},
			methods: {
				//驗證帳號密碼
				searchOrders: function () {
					console.log(1);
					let _this = this;
					axios.post(`/api/Orders/GetOrders`)
					.then(response=>
						console.log(response.data)
					)
				}
			}

		}
		var app = Vue.createApp(vueOrder).mount("#app");
	</script>
}