<div id="app">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0">結帳區</h1>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <form action="#" class="billing-form">
                        <h3 class="mb-4 billing-heading">取餐人明細</h3>
                        <div class="row align-items-end">
                            @*						<div class="w-100"></div>
                            <div class="col-md-12">
                            <div class="form-group">
                            <label for="country">State / Country</label>
                            <div class="select-wrap">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select name="" id="" class="form-control">
                            <option value="">France</option>
                            <option value="">Italy</option>
                            <option value="">Philippines</option>
                            <option value="">South Korea</option>
                            <option value="">Hongkong</option>
                            <option value="">Japan</option>
                            </select>
                            </div>
                            </div>
                            </div>*@
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="streetaddress">外送地址</label>
                                    <input type="text" class="form-control" placeholder="請填寫詳細地址">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">電話</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailaddress">Email</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="CouponID">套用優惠券</label>
                                    <input type="text" class="form-control" placeholder="優惠券序號">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group mt-4">
                                    <div class="radio">
                                        <label class="mr-3"><input type="radio" name="optradio"> 內用 </label>
                                        <label class="mr-3"><input type="radio" name="optradio"> 外帶 </label>
                                        <label class="mr-3"><input type="radio" name="optradio"> 外送 </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form><!-- END -->
                </div>
                <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <h2 class="billing-heading mb-4">購物車總金額</h2>
                                <p class="d-flex">
                                    <span>折扣前總金額</span>
                                    <span>{{totalAmount}}</span>
                                </p>
                                <p class="d-flex">
                                    <span>運費</span>
                                    <span>$0.00</span>
                                </p>
                                <p class="d-flex">
                                    <span>折價</span>
                                    <span>$3.00</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span>總金額</span>
                                    <span>$17.60</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-detail p-3 p-md-4">
                                <h3 class="billing-heading mb-4">付款方式</h3>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio" class="mr-2"> 信用卡付款</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio" class="mr-2"> 現場付款</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" class="mr-2"> 我已確認服務條款</label>
                                        </div>
                                    </div>
                                </div>
                                @*                            <div class="row">
                                <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                Name on card is required
                                </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                Credit card number is required
                                </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback">
                                Expiration date required
                                </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                <label for="cc-cvv">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback">
                                Security code required
                                </div>
                                </div>
                                </div>*@
                                <p><a class="btn btn-primary py-3 px-4" asp-area="" asp-controller="Home" asp-action="PaybyCreditCard">前往付款</a></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section> <!-- .section -->
</div>
@section Scripts
    {
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script>
        var vueApp = {
            data() {
                return {
                    cartItems: [],
                    totalAmount: '0'
                };
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                const Jsondata = urlParams.get("data");
                const checkoutdata = JSON.parse(decodeURIComponent(Jsondata));
                this.cartItems = checkoutdata.items;
                this.totalAmount = checkoutdata.totalAmount;
            },
            computed: {

            }
        };
        var app = Vue.createApp(vueApp).mount("#app");



    </script>
    }
