<div id="app">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0">結帳區</h1>
            </div>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <form action="#" class="billing-form">
                        <h3 class="mb-4 billing-heading">取餐人明細</h3>
                        <div class="row align-items-end">
                            @*						<div class="w-100"></div>
                            <div class="col-md-12">
                            <div class="form-group">
                            <label for="country">State / Country</label>
                            <div class="select-wrap">
                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                            <select name="" id="" class="form-control">
                            <option value="">France</option>
                            <option value="">Italy</option>
                            <option value="">Philippines</option>
                            <option value="">South Korea</option>
                            <option value="">Hongkong</option>
                            <option value="">Japan</option>
                            </select>
                            </div>
                            </div>
                            </div>*@
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="streetaddress">外送地址</label>
                                    <input type="text" class="form-control" placeholder="請填寫詳細地址" v-model="CustomerAddress" required>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">電話</label>
                                    <input type="text" class="form-control" placeholder="" v-model="CustomerPhone" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailaddress">Email</label>
                                    <input type="text" class="form-control" placeholder="" v-model="CustomerEmail" required>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="CouponID">套用優惠券</label>
                                    <input type="text" class="form-control" placeholder="優惠券序號" v-model="CouponID">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group mt-4">
                                    <div class="radio">
                                        <label class="mr-3"><input type="radio" name="Takeradio"> 內用 </label>
                                        <label class="mr-3"><input type="radio" name="Takeradio"> 外帶 </label>
                                        <label class="mr-3"><input type="radio" name="Takeradio"> 外送 </label>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message" v-model="note"></textarea>
                                </div>
                            </div>

                        </div>
                    </form><!-- END -->
                </div>
                <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <h2 class="billing-heading mb-4">購物車總金額</h2>
                                <p class="d-flex">
                                    <span>折扣前總金額</span>
                                    <span>{{totalAmount}}</span>
                                </p>
                                <p class="d-flex">
                                    <span>運費</span>
                                    <span>{{ShippingFee}}</span>
                                </p>
                                <p class="d-flex">
                                    <span>折價</span>
                                    <span>{{Discount}}</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span>總金額</span>
                                    <span>{{calculateAmount()}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="cart-detail p-3 p-md-4">
                                <h3 class="billing-heading mb-4">付款方式</h3>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <input type="radio" name="optradio" class="mr-2" value="PaybyCreditCard" v-model="selectedPage"> 信用卡付款
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <input type="radio" name="optradio" class="mr-2" value="FinalOrderList" v-model="selectedPage"> 現場付款
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" class="mr-2"> 我已確認服務條款</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="gotoPage">
                                            <button class="btn btn-primary" :disabled="!isValid" @@click="gotoPayPage">前往付款</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section> <!-- .section -->
</div>
@section Scripts
    {
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script>
        var vueApp = {
            data() {
                return {
                    cartItems: [],
                    totalAmount: 0,
                    CustomerAddress: "",
                    CustomerPhone: "",
                    CustomerEmail: "",
                    CouponID: "",
                    note: "",
                    ShippingFee: 0,
                    Discount: 0,
                    Takeout: null,
                    AmountAfterDiscount: 0,
                    selectedPage: null
                };
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                const Jsondata = urlParams.get("data");
                const checkoutdata = JSON.parse(decodeURIComponent(Jsondata));
                this.cartItems = checkoutdata.items;
                this.totalAmount = checkoutdata.totalAmount;
            },
            methods: {
                calculateAmount() {
                    let total = 0;
                    total = this.totalAmount + this.ShippingFee + this.Discount;
                    this.AmountAfterDiscount = total;
                    return total;
                },
                gotoPayPage() {
                    if (this.selectedPage) {
                        const PayCreditCardData = {
                            items: this.cartItems,
                            totalAmount: this.totalAmount,
                            CustomerAddress: this.CustomerAddress,
                            CustomerPhone: this.CustomerPhone,
                            CustomerEmail: this.CustomerEmail,
                            CouponID: this.CouponID,
                            note: this.note,
                            ShippingFee: this.ShippingFee,
                            Discount: this.Discount,
                            AmountAfterDiscount: this.AmountAfterDiscount
                        };
                        const Jsondata = JSON.stringify(PayCreditCardData);
                        //確認console在f12
                        //console.log(Jsondata);
                        window.location.href = `${this.selectedPage}?data=${Jsondata}`;
                    }
                }
            },
            computed: {
                isValid() {
                    return this.CustomerAddress && this.CustomerPhone && this.CustomerEmail;
                }
            }

        };
        var app = Vue.createApp(vueApp).mount("#app");
    </script>
    }
