<div id="app">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0">交易結果</h1>
            </div>
        </div>
    </div>
</div>
