<div id="app">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0">交易結果</h1>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 pt-3">
    <div class="col-md-12 d-flex mb-5">
        <div class="cart-detail cart-total p-3 p-md-4">
            <p class="d-flex">
                <div class="container">
                    <div class="row justify-content-center mb-5 pb-3">
                        <div class="col-md-7 heading-section ftco-animate text-center">
                            <span class="subheading">Thank you for your order</span>
                            <h2 class="mb-4">交易成功</h2>
                            <p>請稍帶服務人員確認後，將會開始為您製作餐點</p>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
