<div id="app">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center">
                <h1 class="mb-0">交易結果</h1>
            </div>
        </div>
    </div>


    <div class="my-5 row justify-content-center">
        <form class="col-md-6">
            <div class="my-5 row justify-content-center">
                <table class="table">
                    <thead class="thead-primary">
                        <tr class="text-center">
                            <th>商品名稱</th>
                            <th>&nbsp;</th>
                            <th>價格</th>
                            <th>數量</th>
                            <th>總金額</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="item in cartItems" :key="item.dishId">
                            <td>{{ item.dishName }}</td>
                            <td>&nbsp;</td>
                            <td>{{ item.dishPrice }}</td>
                            <td>{{ item.dishCount }}</td>
                            <td>{{ calculateSubtotal(item) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th width="120"><br />交易結果</th>
                        <td>測試</td>
                    </tr>
                    <tr>
                        <th><br />訂單編號</th>
                        <td>測試</td>
                    </tr>
                    <tr>
                        <th><br />訂單狀態</th>
                        <td>測試</td>
                    </tr>
                    <tr>
                        <th><br />訂單成立時間</th>
                        <td>{{ orderDate }}</td>
                    </tr>
                    <tr>
                        <th><br />訂單總金額</th>
                        <td>{{ AmountAfterDiscount }}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts
    {
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script>

        var vueApp = {
            data() {
                return {
                    cartItems: [],
                    totalAmount: 0,
                    CustomerAddress: "",
                    CustomerPhone: "",
                    CustomerEmail: "",
                    CouponID: "",
                    note: "",
                    ShippingFee: 0,
                    Discount: 0,
                    AmountAfterDiscount: 0,
                    orderDate: ""
                };
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                const Jsondata = urlParams.get("data");
                const finalorderdata = JSON.parse(decodeURIComponent(Jsondata));
                this.cartItems = finalorderdata.items;
                this.AmountAfterDiscount = finalorderdata.AmountAfterDiscount;

                //擷取目前時間
                const currentDate = new Date();
                const formattedDate = currentDate.toLocaleDateString();
                this.orderDate = formattedDate;
            },
            methods: {
                calculateSubtotal(item) {
                    return item.dishPrice * item.dishCount;
                }
            }
        };
        var app = Vue.createApp(vueApp).mount("#app");
    </script>
    }
