@{
    ViewData["Title"] = "Home Page";
}

@section Styles
    {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link href="~/css/map.css" rel="stylesheet" />
    <link href="~/css/map.css" rel="stylesheet" />
    <script type="module" src="~/js/mapaddressautocomplete.js"></script>
}
@*<---------------旋轉軸--------------->*@
<div id="carouselExampleDark"
     class="carousel carousel-dark slide"
     data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button"
                data-bs-target="#carouselExampleDark"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button"
                data-bs-target="#carouselExampleDark"
                data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button"
                data-bs-target="#carouselExampleDark"
                data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="d-block w-100"
                 style="
            background-image: url('https://obs.line-scdn.net/0h2_vWraCpbXBLLnnV1c8SJ3J4YQF4XGt4MlYgHjosMBNjHjYncUByCmsnYUB6FyglIFR2Rml5OkZjGnh2JRo');
            height: 65vh;
            background-size: cover;
            background-position: center;
          ">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-light">TIBAME超人氣麵包</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <div class="d-block w-100"
                 style="
            background-image: url('https://media.zenfs.com/no/cmmedia.com.tw/1e67e876271f5d1f5ca8a2cae9313e26');
            height: 65vh;
            background-size: cover;
            background-position: center;
          ">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-light">來享受悠閒的午後咖啡</h3>
                    <h5 class="text-light">意想不到的超值優惠等你/妳來領取</h5>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <div class="d-block w-100"
                 style="
            background-image: url('https://images.pexels.com/photos/3826676/pexels-photo-3826676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            height: 65vh;
            background-size: cover;
            background-position: center;
          ">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="text-light">歡迎註冊成為商家會員</h2>
                    <p><a class="btn btn-primary" asp-area="store" asp-controller="Home" asp-action="StoreInfo">商家登入口</a></p>
                </div>

            </div>
        </div>
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@*<------------------旋轉軸結束--------------------->*@

<div id="app">
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="text py-2 pb-2 px-2 text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ref="button">
                        {{addressChosen?addressChosen:'請輸入地址'}}
                    </button>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">請輸入/選擇地址</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    @*<div class="pac-card" id="pac-card">
                                    <div id="pac-container">
                                    <input id="pac-input" class="form-control" type="text" placeholder="請輸入新地址" v-model="addressChosen" />
                                    </div>
                                    </div>*@
                                    <div id="map"></div>
                                    @* <input type="text" class="form-control" id="location" placeholder="請輸入新地址" v-model="addressChosen" />*@
                                    <h4>已儲存的地址</h4>
                                    <select class="form-select" aria-label="Default select example" v-model="addressChosen">
                                        <option disabled selected value="">---請選擇---</option>
                                        <option v-for="a in address">{{a.userAddress}}</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-bind:disabled="btndisabled">確定</button>

                                </div>
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">請輸入/選擇地址</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="pac-card" id="pac-card">
                                                    <div id="pac-container">
                                                        <input id="pac-input" class="form-control" type="text" placeholder="請輸入新地址" v-model="addressChosen" />
                                                    </div>

                                                </div>
                                                <div id="map"></div>
                                                @* <input type="text" class="form-control" id="location" placeholder="請輸入新地址" v-model="addressChosen" />*@
                                                <br />
                                                <h4>已儲存的地址</h4>
                                                <select class="form-select" aria-label="Default select example" v-model="addressChosen">
                                                    <option disabled value="">---請選擇---</option>
                                                    <option v-for="a in address">{{a.userAddress}}</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" v-bind:disabled="btndisabled">確定</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 " v-for="store in storeInfo" :key="storeId">
                    <div class="product">
                        <div class="img-prod">
                            <div class="row justify-content-center">
                                <img :src="GetPictureStore(store.storeId)" width="340" height="340" alt="商家暫無圖片" />
                            </div>
                        </div>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h2>{{ store.storeName }}</h2>
                            <button class="btn btn-outline-dark" @@click="RestaurantMenuUrl(store)"><i class="ion-ios-menu"></i></button>
                            <button class="btn btn-outline-dark"><i class="ion-ios-heart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*測試*@

    @*測試結束*@

</div>
@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib\microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        var baseAddress = "/api/HomeApi";
        var vueApp = {
            data() {
                return {
                    /*storeId: 1,*///暫時資料
                    storeInfo: [],
                    storeImageUrl: '',
                    cartItems: [],
                    address: [],
                    addressChosen: "",
                }
            },
            watch: {
                addressChosen() {
                    if (this.addressChosen != "") this.GetStoreInfo();
                }
            },
            computed: {
                btndisabled() {
                    let self = this
                    if (self.addressChosen == "") return true
                    localStorage.setItem("addressChosen", this.addressChosen);
                    return false
                }
            },
            mounted() {
                this.GetStoreInfo();
                this.getcartItemsFromCookie();
                this.getCurrentAddress();
            },
            created() {
                this.addressChosen = localStorage.getItem("addressChosen");
            },
            methods: {
                GetPictureStore(storeId) {
                    return `${baseAddress}/getpic/${storeId}`;
                },
                async GetStoreInfo() {
                    try {
                        //axios.get(`Home/GetStore`).then(response => {
                        //    this.StoreId = response.data.StoreId;
                        //    this.StoreName = response.data.StoreName;
                        //})
                        const response = await axios.get(`api/HomeApi/${this.addressChosen}`);
                        const data = response.data;
                        this.storeInfo = data;
                    } catch {
                        console.log("error");
                    }
                },
                RestaurantMenuUrl(store) {
                    this.clearcartItems();
                    const data = JSON.stringify(store);
                    const url = `/Home/RestaurantMenu?data=${encodeURIComponent(data)}`;
                    window.location.href = url;
                },
                getcartItemsFromCookie() {
                    const cartItemsCookie = document.cookie.split(';').find(cookie => cookie.trim().startsWith('cartItems ='));
                    if (cartItemsCookie) {
                        const cartItemsJSON = cartItemsCookie.split('=')[1];
                        this.cartItems = JSON.parse(cartItemsJSON);
                        this.clearcartItems()
                    }
                },
                clearcartItems() {
                    this.cartItems = [];
                    document.cookie = 'cartItems=;';
                },
                getCurrentAddress() {
                    let self = this;
                    axios.get(`/api/HomeApi/start/address`).then(response => {
                        self.address = response.data;
                        if (response.data != "") self.showAddressModal();
                    })
                },
                showAddressModal() {
                    if (document.cookie.indexOf('modal_shown') >= 0) return
                    else {
                        this.$refs.button.click();
                        document.cookie = "modal_shown=seen";
                    }
                }
            }
        };
        var app = Vue.createApp(vueApp).mount("#app");
    </script>
    }


