<div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 text-center">
            <h1 class="mb-0">信用卡付款</h1>
        </div>
    </div>
</div>

<div id="app">
    <div class="container">
        <h1 class="h3 mb-5">Payment</h1>
        <form method="post" action="/bank/SpgatewayPayBill">
            <div class="row">
                <div class="col-lg-9">
                    <div class="accordion" id="accordionPayment">
                        <!--藍新金流-->
                        <div class="accordion-item mb-3 border">
                            <div class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                                <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePP" aria-expanded="false">
                                    <input class="form-check-input" type="radio" name="payment" id="payment2">
                                    <label class="form-check-label pt-1" for="payment2">
                                        藍新金流
                                    </label>
                                </div>
                                <span>
                                    <img width="110" height="35" src="~/image/bluepay.jpg" />
                                </span>
                            </div>
                            <div id="collapsePP" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment" style="">
                                <div class="accordion-body">
                                    <div class="px-2 col-lg-6 mb-3" style="display: none;">
                                        <label class="form-label">訂單編號</label>
                                        <input type="text" name="ordernumber" class="form-control" placeholder="OrderID" v-model="OrderID" required>
                                    </div>
                                    <div class="px-2 col-lg-6 mb-3">
                                        <label class="form-label">訂單金額</label>
                                        <input type="text" name="amount" class="form-control" placeholder="AmountAfterDiscount" v-model="AmountAfterDiscount" readonly>
                                    </div>
                                    <div class="px-2 col-lg-6 mb-3">
                                        <label class="form-label">訂單類型</label>
                                        <select name="payType" class="form-control" required>
                                            <option value="" selected>點擊選擇</option>
                                            <option value="CREDIT">信用卡</option>
                                            <option value="WEBATM">WEBATM</option>
                                            <option value="VACC">ATM 轉帳</option>
                                            <option value="CVS">超商代碼繳費</option>
                                            <option value="BARCODE">超商條碼繳費</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Credit card -->
                        <div class="accordion-item mb-3">
                            <div class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                                <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false">
                                    <input class="form-check-input" type="radio" name="payment" id="payment1">
                                    <label class="form-check-label pt-1" for="payment1">
                                        信用卡付款
                                    </label>
                                </div>
                                <span>
                                    <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">
                                        <g fill-rule="nonzero" fill="#333840">
                                            <path d="M29.418 2.083c1.16 0 2.101.933 2.101 2.084v16.666c0 1.15-.94 2.084-2.1 2.084H4.202A2.092 2.092 0 0 1 2.1 20.833V4.167c0-1.15.941-2.084 2.102-2.084h25.215ZM4.203 0C1.882 0 0 1.865 0 4.167v16.666C0 23.135 1.882 25 4.203 25h25.215c2.321 0 4.203-1.865 4.203-4.167V4.167C33.62 1.865 31.739 0 29.418 0H4.203Z"></path>
                                            <path d="M4.203 7.292c0-.576.47-1.042 1.05-1.042h4.203c.58 0 1.05.466 1.05 1.042v2.083c0 .575-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.467-1.05-1.042V7.292Zm0 6.25c0-.576.47-1.042 1.05-1.042H15.76c.58 0 1.05.466 1.05 1.042 0 .575-.47 1.041-1.05 1.041H5.253c-.58 0-1.05-.466-1.05-1.041Zm0 4.166c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.466-1.05-1.042Zm6.303 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.051.466 1.051 1.041 0 .576-.47 1.042-1.05 1.042h-2.102c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Z"></path>
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <div id="collapseCC" class="accordion-collapse collapse" data-bs-parent="#accordionPayment" style="">
                                <div class="accordion-body">
                                    <div class="mb-3">
                                        <label class="form-label">信用卡號</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Name on card</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">Expiry date</label>
                                                <input type="text" class="form-control" placeholder="MM/YY">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="mb-3">
                                                <label class="form-label">CVV Code</label>
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right -->
                <div class="col-lg-3">
                    <div class="card position-sticky top-0">
                        <div class="p-3 bg-light bg-opacity-10">
                            <div class="form-check mb-1 small">
                                <input class="form-check-input" type="checkbox" value="" id="tnc">
                                <label class="form-check-label" for="tnc">
                                    I agree to the <a href="#">terms and conditions</a>
                                </label>
                            </div>
                            <div class="form-check mb-3 small">
                                <input class="form-check-input" type="checkbox" value="" id="subscribe">
                                <label class="form-check-label" for="subscribe">
                                    Get emails about product updates and events. If you change your mind, you can unsubscribe at any time. <a href="#">Privacy Policy</a>
                                </label>
                            </div>
                            @*<a class="btn btn-primary w-100 mt-2" asp-area="" asp-controller="Home" asp-action="FinalOrderList">確認付款</a>*@
                            <button class="btn btn-primary w-100 mt-2" @*type="submit"*@ :href="externalUrl" @*@@click="SendtoPaydonePage"*@>前往訂單付款</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @*測試*@
        @*<div>{{ finalorderdata }}</div>*@
    </div>
</div>

@section Scripts
    {
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        var baseAddress = "https://localhost:7163/api/HomeApi";
        var vueApp = {
            data() {
                return {
                    externalUrl: "https://ccore.newebpay.com/MPG/mpg_gateway",
                    AmountAfterDiscount: 0,
                    OrderID: 100,
                    finalorderdata: ""
                }
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                const Jsondata = urlParams.get("data");
                const finalorderdata = JSON.parse(decodeURIComponent(Jsondata));

                //領出AmountAfterDiscount
                this.AmountAfterDiscount = finalorderdata.AmountAfterDiscount;
                this.finalorderdata = finalorderdata;
            },
            methods: {
                SendtoPaydonePage(event) {
                    event.preventDefault();

                    const Orderdata = {
                        finalorderdata: this.finalorderdata
                    }
                    const Jsondata = JSON.stringify(Orderdata);

                    const redirectUrl = `FinalOrderListPaydone?data=${encodeURIComponent(Jsondata)}`;

                    window.location.href = redirectUrl;
                }
            }
        };
        var app = Vue.createApp(vueApp).mount("#app");
    </script>
    }