<div id="app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a href="#" class="active">All</a></li>
                    <li><a href="#">Vegetables</a></li>
                    <li><a href="#">Fruits</a></li>
                    <li><a href="#">Juice</a></li>
                    <li><a href="#">Dried</a></li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-lg-3" v-for="product in currentPageProducts" :key="product.DishID">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="~/vegefoods-master/images/product-1.jpg" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3 text-center">
                        <h3>{{product.DishName}}</h3>
                        <div class="d-flex">
                            <div class="pricing">
                                @*<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="`price-sale">$60.00</span></p>*@
                                <p class="price"><span class="price-sale">$</span><span>{{product.DishPrice}}</span></p>
                            </div>
                        </div>


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary"
                                tabindex="-1"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                aria-labelledby="card1ModalLabel" @@click="viewProduct(product)">
                            <span><i class="ion-ios-cart"></i>  購買</span>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">選擇餐點</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div v-if="selectedProduct">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img :src="product.imageUrl"
                                                         alt=""
                                                         class="img-fluid"
                                                         width="200"
                                                         height="200" />
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="mb-3">
                                                        <h2 for="title" class="form-label">{{ selectedProduct.DishName }}</h2>
                                                    </div>
                                                    <hr />
                                                    <p>{{ selectedProduct.DishDescription }}</p>
                                                    <hr />
                                                    <div class="d-flex justify-content-end">
                                                        <div>價格：{{ selectedProduct.DishPrice }}</div>


                                                        <div class="col-sm-3 px-1 py-1">
                                                            <input type="number" v-model="selectedProduct.DishCount" min="1" max="10" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @@click="addToCart(selectedProduct)">加入購物車</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        @*                     <div class="modal fade" :id="'cardModal' + index" tabindex="-1" role="dialog" aria-labelledby="'cardModalLabel' + index" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" :id="'cardModal' + index">{{product.DishName}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <div class="row">

                        <div class="col-sm-4">
                        <img :src="product.imageUrl"
                        alt=""
                        class="img-fluid"
                        width="200"
                        height="200" />
                        </div>

                        <div class="col-sm-8">
                        <div class="mb-3" v-for="product in productList" :key="product.DishID">
                        <label for="title" class="form-label" id="card1ModalLabel">{{product.DishName}}</label>
                        </div>
                        <hr />
                        <div v-for="product in productList" :key="product.DishID">{{ product.DishDescription}}</div>
                        <hr />
                        <div class="d-flex justify-content-end">

                        <div for="awesomeness" class="col-sm-4 col-form-label" v-for="product in productList" :key="product.DishID">
                        <span>$</span>{{product.DishPrice}}
                        </div>
                        <div class="col-sm-3 px-1 py-1" v-for="product in productList" :key="product.DishID">
                        <div class="btn btn-primary" type="button" @@click="minusOne(product)">-</div>
                        <span>{{ product.DishCount }}</span>
                        <div class="btn btn-primary" type="button" @@click="addOne(product)">+</div>
                        <input type="number" v-model="product.DishCount" min="1" max="10" />
                        </div>
                        </div>
                        </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <ul class="pagination justify-content-center">
                <li class="page-item" :class="{ 'disabled': currentPage === 1 }"><a class="page-link" href="#" @@click="goToPage(currentPage - 1)"><</a></li>
                <li class="page-item "
                    v-for="page in totalPages"
                    :key="page"
                    :class="{ 'active': currentPage === page }"><a class="page-link" href="#" @@click="goToPage(page)">{{page}}</a></li>
                <li class="page-item"
                    :class="{'disabled': currentPage === totalPages}">
                    <a class="page-link" href="#" @@click="goToPage(currentPage + 1)">></a>
                </li>
            </ul>
        </div>

        <div class="container mt-4">
            <div class="row justify-content-end">
                <a class="btn btn-info col-2" :href="OrderListUrl">結帳</a>
            </div>
        </div>

        @*測試*@
        <div>
            <h2>{{ storeInfo.storeName}}</h2>
            <h3>{{storeInfo.storeId}}</h3>
        </div>
        <ul v-for="food in productMenu" :key="food.DishId">
            <li>
                {{food.dishName}}
            </li>
            <li>
                {{food.dishPrice}}
            </li>
        </ul>
        @*測試結束*@
    </div>


</div>


@section Scripts
    {
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script>
        var vueApp = {
            data() {
                return {
                    productList: [
                        {
                            DishID: '1',
                            DishName: '超值漢堡',
                            //DishPicture:,
                            DishPrice: '60',
                            DishDescription: '超級營養漢堡'
                        },
                        {
                            DishID: '2',
                            DishName: '超值三明治',
                            //DishPicture:,
                            DishPrice: '70',
                            DishDescription: '超級營養三明治，吃了包你拉肚子'
                        },
                        {
                            DishID: '3',
                            DishName: '超香蛋餅',
                            //DishPicture:,
                            DishPrice: '50',
                            DishDescription: '超香蛋餅，吃了包你拉肚子'
                        },
                        {
                            DishID: '4',
                            DishName: '好吃飯糰',
                            //DishPicture:,
                            DishPrice: '30',
                            DishDescription: '好吃飯糰，吃了包你拉肚子'

                        }
                    ],
                    productMenu: [], //利用storeId叫回dish資料
                    storeInfo: [],
                    DishCount: 1,
                    cartItems: [],
                    selectedProduct: null,
                    currentPage: 1, // 當前分頁
                    pageSize: 8 // 每頁顯示的商品數量

                };
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                const data = urlParams.get('data');
                this.storeInfo = JSON.parse(decodeURIComponent(data));
                this.GetRestaurantMenuInfo();

                this.GetRestaurantMenuInfo(this.storeInfo.storeId).then(productMenu => {
                    this.productMenu = productMenu;
                }).catch(error => {
                    console.error(error);
                });
            },
            computed: {
                OrderListUrl() {
                    const data = JSON.stringify(this.cartItems);
                    return `OrderList?data=${encodeURIComponent(data)}`;
                },
                totalPages() {
                    // 計算總分頁數
                    return Math.ceil(this.productList.length / this.pageSize);
                },
                currentPageProducts() {
                    // 計算當前分頁的商品
                    const startIndex = (this.currentPage - 1) * this.pageSize;
                    const endIndex = startIndex + this.pageSize;
                    return this.productList.slice(startIndex, endIndex);
                },
            },
            methods: {
                viewProduct(product) {
                    this.selectedProduct = product;
                },
                addToCart(selectedProduct) {
                    const item = {
                        DishID: selectedProduct.DishID,
                        DishName: selectedProduct.DishName,
                        DishPrice: selectedProduct.DishPrice,
                        DishDescription: selectedProduct.DishDescription,
                        DishCount: selectedProduct.DishCount
                    };
                    this.cartItems.push(item);
                    selectedProduct.DishCount = 1;
                },
                calculateSubtotal(item) {
                    return item.DishPrice * item.DishCount;
                },
                calculateTotal() {
                    let total = 0;
                    for (let i = 0; i < this.cartItems.length; i++) {
                        total += this.calculateSubtotal(this.cartItems[i]);
                    }
                    return total;
                },
                goToPage(page) {
                    // 前往指定分頁
                    if (page >= 1 && page <= this.totalPages) {
                        this.currentPage = page;
                    }
                },
                GetRestaurantMenuInfo(storeId) {
                    const url = `GetProduct?storeId=${storeId}`;
                    return axios.get(url).then(response => {
                        return response.data;
                    }).catch(error => {
                        throw new Error(`Failed to fetch menu items for productId:${storeId}`)
                    })
                }
            }
        };

        var app = Vue.createApp(vueApp).mount("#app");

    </script>
}
