@model DeliveryBro.Models.RestaurantTable

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>RestaurantTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RestaurantId" />
            <div class="form-group">
                <label asp-for="RestaurantAccount" class="control-label"></label>
                <input asp-for="RestaurantAccount" class="form-control" />
                <span asp-validation-for="RestaurantAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantPassword" class="control-label"></label>
                <input asp-for="RestaurantPassword" class="form-control" />
                <span asp-validation-for="RestaurantPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestauranName" class="control-label"></label>
                <input asp-for="RestauranName" class="form-control" />
                <span asp-validation-for="RestauranName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantAddress" class="control-label"></label>
                <input asp-for="RestaurantAddress" class="form-control" />
                <span asp-validation-for="RestaurantAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantPhone" class="control-label"></label>
                <input asp-for="RestaurantPhone" class="form-control" />
                <span asp-validation-for="RestaurantPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestauranEmail" class="control-label"></label>
                <input asp-for="RestauranEmail" class="form-control" />
                <span asp-validation-for="RestauranEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHours" class="control-label"></label>
                <input asp-for="OpeningHours" class="form-control" />
                <span asp-validation-for="OpeningHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestauranDescription" class="control-label"></label>
                <input asp-for="RestauranDescription" class="form-control" />
                <span asp-validation-for="RestauranDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantPicture" class="control-label"></label>
                <input asp-for="RestaurantPicture" class="form-control" />
                <span asp-validation-for="RestaurantPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
