@*@model IEnumerable<DeliveryBro.Models.RestaurantTable>*@
@model DeliveryBro.ViewModels.Restaurant.RestaurantLoginViewModel
@{
	ViewData["Title"] = "Login";
}

<h2>Login</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>

<thead>
</thead>
<tbody>
	<h2>商家登入</h2>
	<form asp-controller="Restaurant" asp-action="Login" method="post">
		<table>
			<tr>
				<td colspan="2">
					<input type="text" asp-for="RestaurantAccount" class="form-control" placeholder="帳號" />
					<span asp-validation-for="RestaurantAccount" class="text-danger"></span>
				</td>

			</tr>
			<tr>
				<td colspan="2">
					<input type="text" asp-for="RestaurantPassword" class="form-control" placeholder="密碼" />
					<span asp-validation-for="RestaurantPassword" class="text-danger"></span>
				</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox">記住我</input>
				</td>
				<td>
					<button type="submit">登入</button>
				</td>
			</tr>
			<tr>
				<td>
					<button>忘記密碼</button>
				</td>
			</tr>
			<tr>
				<td>
					<button>註冊帳號</button>
				</td>
			</tr>



		</table>
	</form>
</tbody>

