@{
	Layout = "_LayoutAdmin";
}
<div class="content-page" id="userapp">
	<div class="content">

		<!-- Start Content-->
		<div class="container-fluid">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">顧客</font></font></h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			<div class="col-sm-12">
				<table class="table table-centered table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline" id="products-datatable" aria-describedby="products-datatable_info" style="width: 1534px;">
					<thead>
						<tr>
							<th tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 249.8px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">customerName</font></font></th>
							<th tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 181.8px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">customerAccount</font></font></th>
							<th tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 260.8px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">customerEmail</font></font></th>
							<th tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 249.8px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">state</font></font></th>
							<th tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 249.8px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">customerAddress</font></font></th>
							<th tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 148.8px;" aria-sort="ascending"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">customerPhone</font></font></th>
							<th tabindex="0" aria-controls="products-datatable" rowspan="1" colspan="1" style="width: 92.8px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">role</font></font></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in user">
							<td>{{item.customerName}}</td>
							<td>{{item.customerAccount}}</td>
							<td>{{item.customerEmail}}</td>
							<td>{{item.state}}</td>
							<td>{{item.customerAddress}}</td>
							<td>{{item.customerPhone}}</td>
							<td>{{item.role}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div> <!-- end card-->
	</div>
	<!-- end row -->
</div> <!-- container -->
<script type="text/javascript">
	var app = new Vue({
		el: '#userapp',
		data: {
			maxcount: 0, // 總比數
			user: [], // 資料暫存
			nowpage: 1, // 現在的頁數
			customerName: "",
			customerAccount: "",
			customerEmail: "",
			customerPhone: "",
			
		},
		mounted: function () {
			// vue 第一次執行的內容, 只會直行一次
			let salf = this;
			axios('/api/UserManagement/GetUser/')
				.then(function (res) {
					salf.user = res.data.items; // 回船的user
					salf.maxcount = res.data.count; // 總比數
				});
			//.catch(function (error) { // 請求失敗
			//    console.log(error);
			//});
		},
		methods: { // 放置方法的地方
			// 讀取下一頁 (傳入頁馬)
			nextpage: function (page) {
				let salf = this;
				// 跟後端讀取ORDER
				axios('/api/UserManagement/GetUser/' + page)
					.then(function (res) {
						// 讀取完成
						salf.nowpage = page;
						salf.order = res.data.items;
						salf.maxcount = res.data.count;
					});
			},
			//editorder: function (orderId) {
			//	alert("edit");
			//	$("#editModal").modal("show");
			//	let _this = this;
			//	for (var i = 0; i < _this.order.length; i++) {
			//		var item = _this.order[i];
			//		if (orderId == item.orderId) {
			//			_this.orderId = item.orderId;
			//			_this.orderDate = item.orderDate;
			//			_this.customerAddress = item.customerAddress;
			//			_this.amountAfterDiscount = item.amountAfterDiscount;
			//		}
			//	}
			//},
			//deleteorder: function (id) {
			//	axios.delete('/api/OrderManagement/Delete/' + id).then(res => {
			//		if (res.data) {
			//			alert("已刪除");
			//			this.nextpage(this.nowpage);
			//			var idx = this.order.findIndex(x => x.orderID == id);
			//			this.order.splice(idx, 1)
			//			$("#deleteModal").modal("hide");
			//		}
			//	})
			//},
			//deleteConfirm: function (item) {
			//	this.delInfo.title = item.orderId;
			//	this.delInfo.msg.orderID = item.orderId;
			//	this.delInfo.msg.amountAfterDiscount = item.amountAfterDiscount;
			//}
		}
	})
</script>