<main class="form-signin w-100 m-auto text-center">
	@{
		if (ViewBag.Error != "")
		{
			<h1>@ViewBag.Error</h1>
		}

	}

	<form action="/user/login" method="post">
		<img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
		<h1 class="h3 mb-3 fw-normal">商家登入</h1>

		<div class="form-floating">
			<input type="email" name="account" class="form-control" id="floatingInput" placeholder="name@example.com">
			<label for="floatingInput">Email address</label>
		</div>
		<div class="form-floating">
			<input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
			<label for="floatingPassword">Password</label>
		</div>

		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> 記住我
			</label>
		</div>
		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
		<p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
	</form>
</main>
