<main class="form-signin w-100 m-auto text-center">
	@{
		if (ViewBag.Error != "")
		{
			<h1>@ViewBag.Error</h1>
		}

	}

	<form action="/user/Register" method="post">
		@*<img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">*@
		<h1 class="h3 mb-3 fw-normal">商家註冊</h1>

		<div class="form-floating">
			<input type="text" name="RestaurantName" class="form-control" id="RestaurantName" placeholder="name@example.com">
			<label for="floatingInput">店家名稱</label>
		</div>
		<div class="form-floating">
			<input type="email" name="RestaurantAccount" class="form-control" id="RestaurantAccount" placeholder="name@example.com">
			<label for="floatingInput">餐廳帳號</label>
		</div>
		<div class="form-floating">
			<input type="password" name="RestaurantPassword" class="form-control" id="RestaurantPassword" placeholder="Password">
			<label for="floatingPassword">餐廳密碼</label>
		</div>
		<div class="form-floating">
			<input type="text" name="RestaurantAddress" class="form-control" id="RestaurantAddress" placeholder="Password">
			<label for="floatingPassword">餐廳地址</label>
		</div>
		<div class="form-floating">
			<input type="tel" name="RestaurantPhone" class="form-control" id="RestaurantPhone" placeholder="Password">
			<label for="floatingPassword">餐廳電話</label>
		</div>
		<div class="form-floating">
			<input type="email" name="RestaurantEmail" class="form-control" id="RestaurantEmail" placeholder="Password">
			<label for="floatingPassword">餐廳信箱</label>
		</div>
		<div class="form-floating">
			<input type="time" name="RestaurantStarttime" class="form-control" id="OpeningHours" placeholder="Password">
			<label for="floatingPassword">營業時間(起始)</label>
		</div>
		<div class="form-floating">
			<input type="time" name="RestaurantEndtime" class="form-control" id="OpeningHours" placeholder="Password">
			<label for="floatingPassword">營業時間(結束)</label>
		</div>
		<div class="form-floating">
			<input type="text" name="RestaurantDescription" class="form-control" id="RestaurantDescription" placeholder="Password">
			<label for="floatingPassword">餐廳描述</label>
		</div>
		<div class="form-floating">
			<input type="file" name="RestaurantPicture" class="form-control" id="RestaurantPicture" placeholder="Password">
			<label for="floatingPassword">餐廳照片</label>
		</div>

		@*<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> 記住我
			</label>
		</div>*@
		<button type="submit" class="btn btn-primary">確認</button>
		<button type="reset" class="btn btn-primary">清除</button>
		@*<button class="w-100 btn btn-lg btn-primary" type="submit">清除</>*@
		<p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
	</form>
</main>
