@*@{
    ViewData["Title"] = "Home Page";
}*@

<aside b-y5hjwqsk06 id="sidebar" class="sidebar">

    <ul b-y5hjwqsk06 class="sidebar-nav" id="sidebar-nav">

        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link" href="/store"><i b-y5hjwqsk06 class="bi bi-grid"></i>Home</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="/store/Home/StoreInfo"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>StoreInformation</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="/store/Home/OrdersInTime"><i b-y5hjwqsk06 class="fa-solid fa-file-pen"></i>及時訂單</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="/store/Home/HisOrder"><i b-y5hjwqsk06 class="fa-solid fa-file-lines"></i>歷史訂單</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="/store/Home/Menu"><i b-y5hjwqsk06 class="fa-solid fa-receipt"></i>菜單管理</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="/store/Home/HelpCenter"><i b-y5hjwqsk06 class="fa-solid fa-circle-info"></i>Support</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="/store/Home/Privacy"><i b-y5hjwqsk06 class="fa-solid fa-lock"></i>Privacy</a>
        </li>


        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Identity/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
            </li>
        </ul>

    </ul>

</aside><!-- End Sidebar-->

