@{
    ViewData["HideFooter"] = true;
}

<aside b-y5hjwqsk06 id="sidebar" class="sidebar">

    <ul b-y5hjwqsk06 class="sidebar-nav" id="sidebar-nav">

        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link" asp-controller="User" asp-action="UserHome"><i b-y5hjwqsk06 class="bi bi-grid"></i>Home</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserHome"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>我的資料</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserAddress"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>我的地址</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserOrder"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>我的訂單</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserOrderHistory"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>歷史訂單</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="#"><i b-y5hjwqsk06 class="fa-solid fa-circle-info"></i>Support</a>
        </li>
    </ul>

</aside><!-- End Sidebar-->
<div id="app">
    <div b-y5hjwqsk06>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-6">
                    <form action="#" class="Personal-form">
                        <div class="pagetitle">
                            <h1>我的地址</h1>
                        </div>
                        <button class="btn btn-primary col-3" v-if="!isEditing" @@click="toggleEdit">修改地址</button>

                        <div v-if="!isEditing">
                            <div class="row align-items-end">
                                <div class="w-100"></div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="CustomerAddress">地址</label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control" placeholder="CustomerInfo.userAddress" v-model="CustomerInfo.userAddress" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="isEditing">
                            <button class="btn btn-outline-primary col-3" @@click="postCustomerAddress">確認修改</button>
                            <div class="row align-items-end" v-if="isEditing">
                                <div class="w-100"></div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="CustomerAddress">地址</label>
                                        <div class="d-flex">
                                            <input type="text" class="form-control" placeholder="userAddress" v-model="userAddress" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-3">
                    <div class="card position-sticky top-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*{{CustomerInfo}}*@
</div>
@*        <select v-model="selectedCity">
    <option value="">請選擇縣市</option>
    <option v-for="city in addressData" :key="city.id" :value="city.name">{{ city.name }}</option>
    </select>

    <select v-model="selectedDistrict" v-if="selectedCity">
    <option value="">請選擇區域</option>
    <option v-for="district in selectedCityDistricts" :key="district.id" :value="district.name">{{ district.name }}</option>
    </select>*@

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>
    <script>
        var baseAddress = "https://localhost:7163/api/UserApi";
        var baseJsonAddress = "https://localhost:7163/Data/CityCountry/CityCountyData.json";
        var CustomerId = "@User.Claims.FirstOrDefault(c => c.Type == "CustomerId")?.Value";
        var vueApp = {
            data() {
                return {
                    isEditing: false,
                    CityCountryInfo: [],
                    CustomerInfo: {},
                    userAddress:""
                }
            },
            mounted() {
                //this.loadCityCountryData();
                this.getCustomerInfo();
                //this.postCustomerAddress();
            },
            methods: {
                loadCityCountryData() {
                    axios.get(`${baseJsonAddress}`)
                        .then(response => {
                            this.CityCountryInfo = response.data;
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                toggleEdit() {
                    this.isEditing = !this.isEditing;
                },
                async getCustomerInfo() {
                    //拿出對應cusId
                    try {
                        const response = await axios.get(`${baseAddress}/${CustomerId}`).then(Response => {
                            this.CustomerInfo = Response.data;
                        })
                    } catch (error) {
                        console.error(error);
                    }
                },
                async postCustomerAddress() {
                    const data = {
                        userAddress: this.userAddress
                    }
                    //拿出對應cusId
                    try {
                        axios.post(`${baseAddress}/CheckAdd/${CustomerId}`, data).then(Response => {
                            console.log("修改成功");
                            this.isEditing = false;
                        })
                    } catch (error) {
                        console.error(error);
                    }
                }
            }
        };
        var app = Vue.createApp(vueApp).mount("#app");
    </script>

    }
