@{
    ViewData["HideFooter"] = true;
}

<aside b-y5hjwqsk06 id="sidebar" class="sidebar">

    <ul b-y5hjwqsk06 class="sidebar-nav" id="sidebar-nav">

        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link" href="#"><i b-y5hjwqsk06 class="bi bi-grid"></i>Home</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserHome"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>我的資料</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserAddress"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>我的地址</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserOrder"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>我的訂單</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" asp-controller="User" asp-action="UserOrderHistory"><i b-y5hjwqsk06 class="fa-solid fa-store"></i>歷史訂單</a>
        </li>
        <li b-y5hjwqsk06 class="nav-item">
            <a class="nav-link collapsed" href="#"><i b-y5hjwqsk06 class="fa-solid fa-circle-info"></i>Support</a>
        </li>
    </ul>

</aside><!-- End Sidebar-->
<div b-y5hjwqsk06>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-9">
                <div class="pagetitle">
                    <h1>我的地址</h1>
                </div>
                <div id="app">

                    <div>
                        <label for="city">縣市：</label>
                        <select v-model="selectedCity" @@change="onCityChange">
                            <option value="">請選擇</option>
                            <option v-for="city in CityCountryInfo" :key="city.CityName" :value="city.CityName">{{ city.CityName }}</option>
                        </select>

                        <label for="area">區域：</label>
                        <select v-model="selectedDistrict" >
                            <option value="">請選擇</option>
                            <option v-for="district in filterAddress" :key="district.AreaName" :value="district.AreaNam">{{ district.AreaName }}</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.prod.js"></script>
    <script src="~/axios/axios.min.js"></script>

    <script>
        var vueApp = {
            data() {
                return {
                    CityCountryInfo: [],
                    selectedCity:"",
                    selectedDistrict:"",

                }
            },
            mounted() {
                this.getAddress()
            },
            computed:{
                filterAddress() {
                    if(this.selectedCity){
                        var city = this.CityCountryInfo.find(c => c.CityName == this.selectedCity);
                        if(city){
                            return city.AreaList;
                        }
                    }
                    return [];
                }
            },
            methods: {
                async getAddress() {
                    try {
                        await axios.get('../CityCountyData.json')
                        .then(res =>
                        {this.CityCountryInfo = res.data})  
                        .catch(err=>{
                        console.log(err)
                        })
                    }
                    catch {

                    }

                },
                onCityChange() {

                    this.selectedDistrict = "";
                }
               
            }
        };
        var app = Vue.createApp(vueApp).mount("#app");
    </script>

}